ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

img {
  display: block;
}

h1,
h2,
h3 {
  margin: 0;
}

input {
  margin: 0;
}

body {
  font-family: "Inter";
}

.main-section {
  padding-left: 147px;
  padding-top: 173px;
}

.main-section__title {
  font-weight: 400;
  font-size: 40px;
  line-height: 130%;
  color: #3E3E3E;
  margin-bottom: 30px;
}

.main-section__img-1 {
  position: absolute;
  left: 1050px;
  top: 500px;
}

.main-section__img-4 {
  position: absolute;
  right: 0;
  top: 0;
  height: 836px;
}

.main-section__img-5 {
  position: absolute;
  left: 1057px;
  top: 530px;
}

.main-section__img-7 {
  position: absolute;
  top: 30px;
  left: 30px;
}

.main-section__form {
  display: block;
  width: 563px;
  height: 575px;
}

.main-section__name-input {
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  color: #2D2D2D;
  background: #FFFFFF;
  border: 1px solid #DCDCDC;
  border-radius: 10px;
  width: 557px;
  height: 93px;
  margin-bottom: 8px;
  padding-left: 46px;
}

.main-section__email-input {
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  color: #2D2D2D;
  width: 557px;
  height: 93px;
  background: #FFFFFF;
  border: 1px solid #DCDCDC;
  border-radius: 10px;
  margin-bottom: 8px;
  padding-left: 46px;
}

.main-section__message-input {
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  color: #2D2D2D;
  width: 557px;
  background: #FFFFFF;
  border: 1px solid #DCDCDC;
  border-radius: 10px;
  margin-bottom: 23px;
  padding-left: 46px;
  padding-top: 31px;
  padding-bottom: 126px;
}

.main-section__button {
  width: 218px;
  height: 73px;
  background-color: #FAD34F;
  border-radius: 500px;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  -webkit-transition: -webkit-transform 500ms linear;
  transition: -webkit-transform 500ms linear;
  transition: transform 500ms linear;
  transition: transform 500ms linear, -webkit-transform 500ms linear;
}

.main-section__button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 10px rgba(250, 210, 79, 0.75);
          box-shadow: 0px 0px 10px rgba(250, 210, 79, 0.75);
  background-color: transparent;
  color: #FAD34F;
}

.footer-section {
  background: #FAFAFA;
  border-top: 1px solid #D8D8D8;
  padding-top: 79px;
  padding-left: 343px;
  position: relative;
  padding-bottom: 105px;
}

.footer-section-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 126.76px;
  height: 16.09px;
  gap: 25px;
}

.footer-section-icon {
  -webkit-transition: -webkit-transform 500ms linear;
  transition: -webkit-transform 500ms linear;
  transition: transform 500ms linear;
  transition: transform 500ms linear, -webkit-transform 500ms linear;
  fill: #696969;
}

.footer-section-icon:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  fill: #FAD34F;
}

.footer-section__img-6 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.footer-section__img-8 {
  position: absolute;
  left: 15px;
  bottom: 0;
}

.footer-section__img-3 {
  top: 0;
  right: 130px;
  position: absolute;
}/*# sourceMappingURL=main.css.map */